*{
    padding: 0;
    margin: 0;
}

.header {
    width: 100vw;
    height: 10vh;
    background-color: white;
    color: blanchedalmond; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40vh;
}

.header-left {
    flex-direction: row;
}

.header-right {
    width: 30vw;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    color: #484848;
    padding-left: 1rem;
    padding-right: 1rem;
}

.fa-airbnb{
    color: rgb(255, 90, 95);
    width: 5vw;
    height: auto;
    font-size: 2em;
    font-weight: 600;
}

.accommodations {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#cards {
    width: 80vw;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#cards>div{
    width: 25%;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

#cards>div>img{
    height: 200px;
    width: auto;
    padding: 5px;
    position: relative;
}

#cards>div>p {
    font-family: "Circular", -apple-system, "BlinkMacSystemFont", "Roboto", "Helvetica Neue", sans-serif;
    width: 20vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* @media (max-width: 410px){
   
    img {
        height: 10vw;
        width: 10vw;
        
    }
} */