*{
    padding: 0;
    margin: 0;
}

.header {
    width: 100vw;
    height: 10vh;
    background-color: white;
    color: blanchedalmond; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 0 300px;
}

.header-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header-right {
    width: 30vw;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    color: #484848;
    padding-left: 1rem;
    padding-right: 1rem;
}

.fa-airbnb{
    color: rgb(255, 90, 95);
    width: 5vw;
    height: auto;
    font-size: 2em;
    font-weight: 600;
}

.accommodations {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#cards {
    width: 80vw;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#cards>div{
    width: 25%;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 0 375px;
    justify-content: space-around;
}

#cards>div>img{
    height: 200px;
    width: auto;
    padding: 5px;
    position: relative;
}

#cards>div>p {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    width: 20vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media (max-width: 375px){
   body {
       width: 375px;
   } 

   .header-right{
       display: none;
   }

   .header-left{
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       margin-left: 10vw;
   }

   .header-left>i {
       margin-right: 10vw;
   }

   .accommodations {
        display: flex;
        flex-direction: row;
        margin-top: 8px;
        margin-bottom: 8px;
        width: 100vw;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    #cards {
        width: 80vw;
        height: 40vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #cards>div{
        position: initial;
        width: 80%;
        height: 300px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1 0 375px;
        justify-content: center;
    }

    #cards>div>img{
        height: 200px;
        width: 100%;
        padding-right: 10vw;
        position: relative;
    }

    #cards>div>p {
       width: 280px;
    }

   
}